services:
  api:
    build: ./api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    env_file:
      - .env
  
  postgres:
    image: postgres:16
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  ai-service:
    build: ./ai-service
    command: uvicorn main:app --host 0.0.0.0 --port 8001 --reload
    env_file:
      - .env
    ports:
      - "8001:8001"

volumes:
  pgdata: